@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: white;
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.c_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_flex {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.RText {
    text-align: right;
}

input,
button {
    border: none;
    outline: none;
    background-color: none;
}

.row {
    width: 50%;
}

.icon-circle {
    width: 50px;
    height: 50px;
    line-height: 5px;
    background-color: white;
    margin-left: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 50%;
}


/* -------------category-------- */

.contentWidth {
    width: 77%;
}

.category {
    width: 30%;
    box-shadow: black 0 4px 16px;
    height: max-content;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 5px;
}

.category img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
}

.category span {
    margin: 10px 20px;
    text-transform: capitalize;
}

.category .box {
    transition: 0.5s;
    padding: 0 20px;
}

.category .box:hover {
    background-color: wheat;
    cursor: pointer;
}


/* -------------category-------- */

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}